{% extends "network/layout.html" %} 

{% block body %}
<script src="https://kit.fontawesome.com/2b554022ef.js" crossorigin="anonymous"></script>
<h1>All Posts</h1>
{% if user.is_authenticated %}
    <div class="card">
    <div class="card-body">
        <form action="{% url 'new_post' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <textarea
            class="form-control"
            name="content"
            id="content"
            rows="3"
            placeholder="What's on your mind?"
            ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
        </form>
    </div>
    </div>
{% endif %}

  {% for post in pagePosts %}
  <div class="card" id="post-{{ post.id }}" data-postid="{{ post.id }}">
    <div class="card-body">
      <a href="{% url 'profile' post.user %}"> <h5 class="card-title">{{ post.user }}</h5></a>
      <p class="card-text" id="post-content-{{ post.id }}">{{ post.content }}</p>
      <p class="card-text">{{ post.timestamp }}</p>
      <p class="card-text">
        <i class="fas fa-thumbs-up" style="color: #1877F2;"></i>
        {{ post.likes.count }}
        {% if post.likes.count != 1 %}likes{% else %}like{% endif %}
      </p>
      {% if user.is_authenticated %}
        {% if user == post.user %}
            <button class="edit-btn" data-postid="{{ post.id }}" onclick="replacePostContentWithTextarea({{ post.id }})">Edit</button>
        {% endif %}
      {% endif %}
    </div>
  </div>
  {% endfor %} 
  <nav aria-label="Page navigation example" style="margin-top: 20px;">
    <ul class="pagination d-flex justify-content-center">
    {% if pagePosts.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ pagePosts.previous_page_number }}">Previous</a></li>
    {%endif%}
    {% if pagePosts.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ pagePosts.next_page_number }}">Next</a></li>
    {%endif%}
    </ul>
  </nav>
  {% endblock %}